<div class="container">
    <div class="row">
        <div *ngFor="let categoria of categorias | sortBy:'sortField==Access Point'  | keys | paginate: { id: 'pagination6', itemsPerPage: count, currentPage: p }; let i = index ">
            <div class="col-12 col-sm-6 col-md-3 ">
                <div class="productosmov">
                    <a data-toggle="modal" [attr.data-target]="'#' + categoria.popup">
                        <img src="{{categoria.image}}" class="img-responsive" alt="fulltechonologyvenezuela {{categoria.title}}">
                    </a>
                    <h4>{{categoria.technology}}</h4>
                    <div class="clear"></div>
                    <p>{{categoria.category_name}}</p>
                    <a data-toggle="modal" [attr.data-target]="'#' + categoria.popup" class="btn btn-primary hidden-xs">Ver Articulo</a>
                </div>
            </div>
        </div>
        <div class="clear"></div><br><br>
        <!--Including the pagination control.-->
        <div class="row mt-4 mb-4">
            <div class="text-center">
                <pagination-controls id="pagination6" (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>