<header class="hero-back moduloImagen">
    <img src="assets/img/FOG.png" alt="fulltechnology ">
    <div class="header-content">
        <div class="inner ">
            <h1 style="color:#fff; font-family: 'HelveticaNeueLTStd-Lt';">Soluciones de Redes Inalámbricas y Servicio Técnico</h1>
            <br><br>
            <a href="#premium" class="btn btn-primary btn-xl page-scroll">Conócenos</a>
        </div>
    </div>
    <!--video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
    <source src="http://lightofweb.com/zanzo-website/video/Typing.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
</video-->
</header>