/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */


/* clearfix */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-pagination {
    background: transparent;
    border: none;
}


/*------*/

.demo-owl {
    position: relative;
    top: calc(60px);
}

#owl-demo .item {
    background: rgba(250, 250, 250, 0.5);
    padding: 20px 10px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    height: auto;
}

#owl-demo .item img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    border: 4px solid rgba(250, 250, 250, 0.5);
    margin-bottom: 10px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 2s;
    cursor: pointer;
}

#owl-demo .item img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#owl-demo .item h6 {
    font-size: 14px;
    color: var(--azul);
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

#owl-demo .item h5 {
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 16px;
    color: var(--azul);
    margin: 0;
    padding: 0;
    height: 60px;
}

#owl-demo .item ul li {
    display: inline-block;
}

@media (max-width:480px) {}

@media (max-width:780px) {
    #owl-demo .item img {
        width: 80%;
    }
    #owl-demo .owl-item {
        width: 189px !important;
    }
    .owl-item .item p {
        font-size: 14px;
    }
    .owl-pagination {
        display: none;
    }
}