<nav id="topNav" class="navbar  navbar-fixed-top hidden-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand navbar-brand1 page-scroll logo" href="#inicio"><img src="assets/img/logoBlanco.png" alt="logo fulltechnologyvenezuela"></a>
            <a class="navbar-brand navbar-brand2 page-scroll logo" href="#inicio"><img src="assets/img/logo.png" alt="logo fulltechnologyvenezuela"></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#inicio">Inicio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#premium">Premium</a>
                </li>
                <li>
                    <a class="page-scroll" href="#destacado">Destacados</a>
                </li>
                <li>
                    <a class="page-scroll" href="#productos">Productos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#soluciones">Servicio Técnico</a>
                </li>
                <li>
                    <a class="page-scroll" href="#nosotros">Nosotros</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cotizacion">Contáctenos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav id="topNav" class="navbar navbar-default navbar-fixed-top visible-xs visible-sm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand1 page-scroll logo" href="#inicio"><img src="assets/img/logoBlanco.png" alt="logo fulltechnologyvenezuela"></a>
            <a class="navbar-brand navbar-brand2 page-scroll logo" href="#inicio"><img src="assets/img/logo.png" alt="logo fulltechnologyvenezuela"></a>
            <!--div id="mostrar-menu-secundario">
                <div class="toggle-vertical"></div>
                <ul class="menu menu-secundario">
                    <li>
                        <a href="#nosotros" class="page-scroll" style="cursor: pointer;"> Nosotros</a>
                    </li>
                    <li>
                        <a href="#cotizacion" class="page-scroll" style="cursor: pointer;">  Cóntactenos</a>
                    </li>

                </ul>
            </div-->
        </div>
    </div>

</nav>

<!---menu movil footer-->
<div class="navbarM visible-xs ">
    <a href="#productos" class="page-scroll"><i class="fa fa-database"></i>Productos</a>
    <a href="#soluciones" class="page-scroll"><i class="fa fa-wrench"></i>Serv.Téc</a>
    <a href="#cotizacion" class="page-scroll"><i class="fa fa-envelope"></i>Cotizar</a>
    <a (click)="update()"><i class="fa fa-refresh"></i>Actualizar</a>

</div>