<!---Modale automatico--->

<!---Modale--->
<div class="modal fade emergente" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Bienvenido!</h6>

                <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
            </div>
            <div class="modal-body">

                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade shadow" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://google.com" target="_blank">
                                <img src="assets/img/logo.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://fulltechnologyvenezuela.com/" target="_blank">
                                <img src="assets/img/logo.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.instagram.com/fulltechnology.ca/" target="_blank">
                                <img src="assets/img/logo.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <!--div class="col-12 col-sm-4">
                        <p><a href="registro.html">Registrate</a> y disfruta por mas tiempo y promociones</p>
                    </div-->
                    <div class="col-12 col-sm-6">
                        <p>Disfruta de tu conexión por: 1 hora</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a href="https://google.com" target="_blank"><button class="btn btn-success">Comience a Navegar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        $("#mostrarmodal").modal("show");
    });
</script>